<div id='layout1' class="layout hide">
                        <div>
                            <div id="h" class='zoneImage' data-image="image1"></div>
                            <div id="v" class='zoneImage' data-image="image2"></div>
                        </div>
                        <div>
                            <div id="v" class='zoneImage' data-image="image3"></div>
                            <div id="h" class='zoneImage' data-image="image4"></div>
                        </div>
                    </div>

                    <div id='layout2' class="layout hide">
                        <input type="title" class="text" data-style="title">
                        <div class='zoneImage' data-image="image1"></div>
                        <textarea data-style="bottom-text" class='zoneImage text' name="bottom-text"></textarea>
                    </div>

                    <div id='layout3' class="layout">
                        <input type="text" data-style="left-text" class="text" name="left-text">
                        <div>
                            <input type="title" class="text" data-style="title">
                            <div class='zoneImage' data-image="image1"></div>
                            <textarea data-style="bottom-text" class='text' name="bottom-text"></textarea>
                        </div>
                    <input type="text" class="text" data-style="right-text">
                    </div>
                    <div id='layout4' class="layout hide">
                        <div class='zoneImage' data-image="image1"></div>
                        <div class='zoneImage' data-image="image2"></div>
                    </div>
