<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Yearbook - MMI</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://use.typekit.net/gnx1whw.css">
	<link rel="stylesheet" href="{{assetP('css/stylePublic.css')}}" type="text/css" media="all">
</head>
<body>

{% block content %}{% endblock %}


<footer>
	<a href="#">Mentions légales</a>
	<a href="#">Contact</a>
	<a href="#">Crédits</a>
</footer>
</body>

</html>